<!doctype html>
<!--[if lt IE 7 ]><html itemscope itemtype="https://schema.org/" id="ie6" class="ie" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="https://schema.org/" id="ie7" class="ie" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="https://schema.org/" id="ie8" class="ie" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="https://schema.org/" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!-->
<html itemscope itemtype="https://schema.org/" lang="en-US">
<!--<![endif]-->

<head>

  <meta charset="utf-8">


  <title>Tempus Fugit</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/icons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/images/icons/manifest.json">
<link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- SEARCH -->
<meta name="author" content="">
<meta name="description" content="">

<!-- TWITTER -->
<meta name="twitter:card" content="">
<meta name="twitter:site" content="">
<meta name="twitter:creator" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<meta name="twitter:image:src" content="">

<!-- FACEBOOK -->
<meta property="og:site_name" content="">
<meta property="og:url" content="">
<meta property="og:type" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta property="fb:app_id" content="">
<meta property="fb:admins" content="">

<!-- G+ -->
<meta itemprop="name" content="">
<meta itemprop="description" content="">
<meta itemprop="image" content="">


  <!-- Font awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600' rel='stylesheet' type='text/css'>

   


  <!--build:css /css/styles.min.css id="main-stylesheet"-->
  <link rel="stylesheet" href="/plugins/aos/aos.css">
  <link rel="stylesheet" id="main-stylesheet" href="/css/styles.css">
  <!--endbuild-->

  <!--build:js /js/main.min.js -->
  <script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
  <script src="/plugins/aos/aos.js"></script>
  <script src="/plugins/pjax/jquery.pjax.min.js"></script>
  <script src="/js/custom/pjax-setup.js"></script>

  <script src="/js/custom/offcanvas.js"></script>
  <script src="/js/custom/box.js"></script>
  <script src="/js/custom/tree-menu.js"></script>
  <script src="/js/main.js"></script>
  <!-- endbuild -->

</head>

<body class="skin-deep-blue sidebar-image misty-mountains">

  <div class="wrapper">
    <header class="main-header">
  <a href="/index.html" class="logo">
    <span class="logo-lg">Tempus Fugit</span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle border-right border-left" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle border-left" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 4 messages</li>
            <li>
              <ul class="menu">
                <li><!-- start message -->
                  <a href="#">
                    <div class="pull-left">
                      <img src="http://i.pravatar.cc/128?img=12" class="img-circle" alt="User Image">
                    </div>
                    <h6>
                      Support Team
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h6>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li><!-- end message -->
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="http://i.pravatar.cc/300?img=18" class="img-circle" alt="User Image">
                    </div>
                    <h6>
                      Atlas Design Team
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h6>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="http://i.pravatar.cc/300?img=16" class="img-circle" alt="User Image">
                    </div>
                    <h6>
                      Developers
                      <small><i class="fa fa-clock-o"></i> Today</small>
                    </h6>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="http://i.pravatar.cc/300?img=38" class="img-circle" alt="User Image">
                    </div>
                    <h6>
                      Sales Department
                      <small><i class="fa fa-clock-o"></i> Yesterday</small>
                    </h6>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="http://i.pravatar.cc/300?img=28" class="img-circle" alt="User Image">
                    </div>
                    <h6>
                      Reviewers
                      <small><i class="fa fa-clock-o"></i> 2 days</small>
                    </h6>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">See All Messages</a></li>
          </ul>
        </li>
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning">10</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 10 notifications</li>
            <li>
              <ul class="menu">
                <li>
                  <a href="#">
                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-users text-red"></i> 5 new members joined
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-user text-red"></i> You changed your username
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">View all</a></li>
          </ul>
        </li>
        <li class="dropdown tasks-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag-o"></i>
            <span class="label label-danger">9</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 9 tasks</li>
            <li>
              <ul class="menu">
                <li><!-- Task item -->
                  <a href="#">
                    <h3>
                      Design some buttons
                      <small class="pull-right">20%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">20% Complete</span>
                      </div>
                    </div>
                  </a>
                </li><!-- end task item -->
                <li><!-- Task item -->
                  <a href="#">
                    <h3>
                      Create a nice theme
                      <small class="pull-right">40%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">40% Complete</span>
                      </div>
                    </div>
                  </a>
                </li><!-- end task item -->
                <li><!-- Task item -->
                  <a href="#">
                    <h3>
                      Some task I need to do
                      <small class="pull-right">60%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </a>
                </li><!-- end task item -->
                <li><!-- Task item -->
                  <a href="#">
                    <h3>
                      Make beautiful transitions
                      <small class="pull-right">80%</small>
                    </h3>
                    <div class="progress xs">
                      <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">80% Complete</span>
                      </div>
                    </div>
                  </a>
                </li><!-- end task item -->
              </ul>
            </li>
            <li class="footer">
              <a href="#">View all tasks</a>
            </li>
          </ul>
        </li>
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="http://i.pravatar.cc/300?img=59" class="user-image" alt="User Image">
            <span class="hidden-xs">Zachary Banks</span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img src="http://i.pravatar.cc/300?img=59" class="img-circle" alt="User Image">
              <p>
                Zachary Banks - Web Developer
                <small>Member since Nov. 2012</small>
              </p>
            </li>
            <li class="user-body">
              <div class="col-xs-4 text-center">
                <a href="#">Followers</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Sales</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Friends</a>
              </div>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>

    <aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <img src="http://i.pravatar.cc/300?img=59" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Zachary Banks</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="/index.html" data-pjax>
          <i class="fa fa-circle-o"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Layouts</span>
          <span class="label label-primary pull-right">3</span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/top-nav.html">
              <i class="fa fa-level-up"></i>
              Top Navigation
            </a>
          </li>
          <li>
            <a href="/boxed.html">
              <i class="fa fa-square"></i>
              Boxed
            </a>
          </li>
          <li>
            <a href="/fixed.html">
              <i class="fa fa-arrows-h"></i>
              Fixed
            </a>
          </li>
        </ul>
      </li>

      <li class="header">GENERAL PAGES</li>


      <li class="treeview">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>UI Elements</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/widgets.html" data-pjax>
              <i class="fa fa-th"></i>
              <span>Widgets</span>
              <small class="label pull-right bg-green">Hot</small>
            </a>
          </li>

          <li>
            <a href="/ui-basic.html" data-pjax>
              <i class="fa fa-asterisk"></i>
              General
            </a>
          </li>
          <li>
            <a href="/icons.html" data-pjax>
              <i class="fa fa-fonticons"></i>
              Icons
            </a>
          </li>
          <li>
            <a href="/buttons.html" data-pjax>
              <i class="fa fa-hand-pointer-o"></i>
              Buttons
            </a>
          </li>
          <li>
            <a href="/slider.html" data-pjax>
              <i class="fa fa-sliders"></i>
              Sliders &amp; Toggles
            </a>
          </li>
          <li>
            <a href="/timeline.html" data-pjax>
              <i class="fa fa-clock-o"></i>
              Timeline
            </a>
          </li>
          <li>
            <a href="/modals.html" data-pjax>
              <i class="fa fa-bullhorn"></i>
              Modals
            </a>
          </li>
        </ul>
      </li>



      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Charts</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/chartjs.html" data-pjax>
              <i class="fa fa-line-chart"></i>
              ChartJS
            </a>
          </li>
          <li>
            <a href="/morris.html" data-pjax>
              <i class="fa fa-bar-chart"></i>
              Morris
            </a>
          </li>
          <li>
            <a href="/flot.html" data-pjax>
              <i class="fa fa-area-chart"></i>
              Flot
            </a>
          </li>
          <li>
            <a href="/inline-charts.html" data-pjax>
              <i class="fa fa-signal"></i>
              Inline charts
            </a>
          </li>
        </ul>
      </li>


      <li class="treeview">
        <a href="#">
          <i class="fa fa-folder"></i> <span>Custom Pages</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>

        <ul class="treeview-menu">
          <li>
            <a href="/invoice.html" data-pjax>
              <i class="fa fa-money"></i>
              Invoice
            </a>
          </li>
          <li>
            <a href="/profile.html" data-pjax>
              <i class="fa fa-user"></i>
              Profile & Timeline
            </a>
          </li>
          <li>
            <a href="/login.html">
              <i class="fa fa-sign-in"></i>
              Login
            </a>
          </li>
          <li>
            <a href="/signup.html">
              <i class="fa fa-sign-out"></i>
              Signup
            </a>
          </li>
          <li>
            <a href="/404.html" data-pjax>
              <i class="fa fa-exclamation-circle"></i>
              404 Error
            </a>
          </li>
          <li>
            <a href="/500.html" data-pjax>
              <i class="fa fa-exclamation-triangle"></i>
              500 Error
            </a>
          </li>
          <li>
            <a href="/blank.html" data-pjax>
              <i class="fa fa-circle-o"></i>
              Blank Page
            </a>
          </li>
        </ul>
      </li>


      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Forms</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/forms-simple.html" data-pjax>
              <i class="fa fa-keyboard-o"></i>
              General Elements
            </a>
          </li>
          <li>
            <a href="/forms-custom.html" data-pjax>
              <i class="fa fa-check-square"></i>
              Custom Form Elements
            </a>
          </li>
          <li>
            <a href="/forms-editor.html" data-pjax>
              <i class="fa fa-paragraph"></i>
              Rich Text Editors
            </a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-table"></i> <span>Tables</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/tables-simple.html" data-pjax>
              <i class="fa fa-table"></i>
              Simple tables
            </a>
          </li>
          <li>
            <a href="/tables-data.html" data-pjax>
              <i class="fa fa-list-alt"></i>
              Data tables
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="/calendar.html" data-pjax>
          <i class="fa fa-calendar"></i> <span>Calendar</span>
          <small class="label pull-right bg-red">3</small>
        </a>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-envelope-o"></i> <span>Email &amp; Chat</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>

        <ul class="treeview-menu">
          <li>
            <a href="/email-inbox.html" data-pjax>
              <i class="fa fa-envelope"></i>
              Inbox
            </a>
          </li>
          <li>
            <a href="/email-compose.html" data-pjax>
              <i class="fa fa-pencil"></i>
              Compose New Email
            </a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-share"></i> <span>Multilevel Menu</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="#">
              <i class="fa fa-circle-o"></i>
              Level One
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-circle-o"></i>
              Level One
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li>
                <a href="#">
                  <i class="fa fa-circle-o"></i>
                  Level Two
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-circle-o"></i>
                  Level Two
                  <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-circle-o"></i>
                      Level Three
                    </a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-circle-o"></i>
                      Level Three
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-circle-o"></i>
              Level One
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>



    <div class="page-loader">
      <div class="preloader-lg"></div>
    </div>

    <div class="content-wrapper-transition">
      <div class="content-wrapper-inner">
        
<div class="content-wrapper slider-page">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Sliders & Toggles
      <small>Range sliders & Toggles</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">UI</a></li>
      <li class="active">Sliders</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary" data-aos="fade-up">
          <div class="box-header">
            <h3 class="box-title">Bootstrap Slider</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="row margin">
              <div class="col-sm-6">
                <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">

                <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="blue">

                <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="green">

                <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="yellow">

                <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="aqua">

                <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="purple">

              </div>
              <div class="col-sm-6 text-center">
                <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red">

                <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="blue">

                <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="green">

                <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="yellow">

                <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="aqua">

                <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="purple">
              </div>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->



    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary" data-aos="fade-up">
          <div class="box-header">
            <h3 class="box-title">Slim Slider</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="row margin">
              <div class="col-sm-6">
                <div class="slim">
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"
                  >
                </div>

                <div class="slim">
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="blue"
                  >
                </div>

                <div class="slim">
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="green"
                  >
                </div>

                <div class="slim">
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="yellow"
                  >
                </div>

                <div class="slim">
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="aqua"
                  >
                </div>

                <div class="slim">
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="purple"
                  >
                </div>
              </div>
              <div class="col-sm-6 text-center">
                <div class="slim slim-vertical">
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"
                  >
                </div>

                <div class="slim slim-vertical">
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="blue"
                  >
                </div>

                <div class="slim slim-vertical">
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="green"
                  >
                </div>

                <div class="slim slim-vertical">
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="yellow"
                  >
                </div>

                <div class="slim slim-vertical">
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="aqua"
                  >
                </div>

                <div class="slim slim-vertical">
                  <input type="text" value="" class="slider form-control" data-slider-min="-200" data-slider-max="200" data-slider-step="5" data-slider-value="[-100,100]" data-slider-orientation="vertical" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="purple"
                  >
                </div>
              </div>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->


    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary" data-aos="fade-up">
          <div class="box-header">
            <h3 class="box-title">Bootstrap Toggles</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="row margin">
              <div class="col-sm-12">

                <table class="table table-responsive">
                  <tbody>
                    <tr>
                      <td>
                        <div class="toggle">
                          <input class="slider form-control" data-slider-id='red' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="1"/>
                        </div>
                      </td>

                      <td>
                        <div class="toggle">
                          <input class="slider form-control" data-slider-id='blue' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="1"/>
                        </div>
                      </td>

                      <td>
                        <div class="toggle">
                          <input class="slider form-control" data-slider-id='green' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="1"/>
                        </div>
                      </td>

                      <td>
                        <div class="toggle">
                          <input class="slider form-control" data-slider-id='yellow' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="1"/>
                        </div>
                      </td>

                      <td>
                        <div class="toggle">
                          <input class="slider form-control" data-slider-id='aqua' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="1"/>
                        </div>
                      </td>

                      <td>
                        <div class="toggle">
                          <input class="slider form-control" data-slider-id='purple' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="1"/>
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td>
                        <div class="toggle">
                          <input class="slider form-control" data-slider-id='red' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="0"/>
                        </div>
                      </td>

                      <td>
                        <div class="toggle">
                          <input class="slider form-control" data-slider-id='blue' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="0"/>
                        </div>
                      </td>

                      <td>
                        <div class="toggle">
                          <input class="slider form-control" data-slider-id='green' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="0"/>
                        </div>
                      </td>

                      <td>
                        <div class="toggle">
                          <input class="slider form-control" data-slider-id='yellow' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="0"/>
                        </div>
                      </td>

                      <td>
                        <div class="toggle">
                          <input class="slider form-control" data-slider-id='yellow' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="0"/>
                        </div>
                      </td>

                      <td>
                        <div class="toggle">
                          <input class="slider form-control" data-slider-id='purple' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="1" data-slider-value="0"/>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>


              </div>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->


  </section><!-- /.content -->
</div><!-- /.content-wrapper -->


        <footer class="main-footer">
  <div class="pull-right hidden-xs">
    by <strong>Authentic Pixels</strong>
  </div>
  <strong>Copyright &copy; 2016 <a href="http://authenticpixels.com">Atlas Admin</a>.</strong> All rights reserved.
</footer>


        
<!--build:js /js/slider.min.js -->
<script src="/plugins/bootstrap-slider/bootstrap-slider.js"></script>
<script src="/js/pages/slider.js"></script>
<!-- endbuild -->

      </div>
    </div>

    <div id="toggle-customization-modal">
  <button data-toggle="modal" data-target="#customizationModal" class="btn btn-default btn-sm">
    <i class="fa fa-gears"></i>
  </button>
</div>

<div class="modal fade" id="customizationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Customize Atlas Template</h4>
      </div>
      <div class="modal-body">
        <h5>Choose a color scheme</h5>
        <ul class="color-scheme-picker">
          <li data-color="skin-pale-green" class="color-scheme-box pale-green"></li>

          <li data-color="skin-deep-blue" class="color-scheme-box deep-blue"></li>

          <li data-color="skin-deep-orange" class="color-scheme-box deep-orange"></li>

          <li data-color="skin-deep-purple" class="color-scheme-box deep-purple"></li>

          <li data-color="skin-blue-grey" class="color-scheme-box blue-grey"></li>
        </ul>

        <hr>

        <h5>Choose a sidebar image</h5>
        <ul class="sidebar-image-picker">
          <li data-image="dark-waves" class="sidebar-image-box">
            <img src="/images/sidebar-thumbs/dark-waves.jpg" class="img-responsive" alt="Sidebar image" />
          </li>
          <li data-image="starry" class="sidebar-image-box">
            <img src="/images/sidebar-thumbs/starry.jpg" class="img-responsive" alt="Sidebar image" />
          </li>
          <li data-image="misty-mountains" class="sidebar-image-box">
            <img src="/images/sidebar-thumbs/misty-mountains.jpg" class="img-responsive" alt="Sidebar image" />
          </li>
          <li data-image="sunrise" class="sidebar-image-box">
            <img src="/images/sidebar-thumbs/sunrise.jpg" class="img-responsive" alt="Sidebar image" />
          </li>
          <li data-image="rocky-beach" class="sidebar-image-box">
            <img src="/images/sidebar-thumbs/rocky-beach.jpg" class="img-responsive" alt="Sidebar image" />
          </li>
          <li data-image="starry-mountains" class="sidebar-image-box">
            <img src="/images/sidebar-thumbs/starry-mountains.jpg" class="img-responsive" alt="Sidebar image" />
          </li>

        </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


  </div>

</body>

</html>
